<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
  <!-- Page Content-->
    <section layout:fragment="body" class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                    <div th:if="${param.error}" class="alert alert-danger">
                        Неправильный логин или пароль.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Вы вышли из сервиса.
                    </div>

                    <div class="card bg-dark text-white " style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <form role="form" method="post" th:action="@{/auth/login}" class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
                                <p class="text-white-50 mb-5">Пожалуйста, введите свой логин и пароль!</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="text"
                                           id="username"
                                           name="username"
                                           class="form-control form-control-lg" />
                                    <label class="form-label" for="username">Логин</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password"
                                           id="password"
                                           name="password"
                                           class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Пароль</label>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5"
                                        id="Log in"
                                        type="submit">Войти</button>

                            </form>

                            <div>
                                <p class="mb-0">Нет аккаунта? <a th:href="@{/auth/signup}"
                                                                 class="text-white-50 fw-bold">Регистрация</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>