<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Редактирование фильма</title>
</head>
<body>
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <h1>Редактирование фильма</h1>
      <form role="form" method="post"
            th:action="@{/movies/{movieId}/edit(movieId=${movie.id})}"
            th:object="${movie}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group col-md-6 mb-1">
          <label for="title">Название</label>
          <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:field="*{title}"
                  placeholder="Укажите название фильма">
          <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
        </div>
        <div class="form-group col-md-6 mb-1">
          <label for="description">Описание</label>
          <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  th:field="*{description}"
                  placeholder="Описание фильма">
          <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
        </div>
        <div class="form-group col-md-6 mb-1">
          <label for="releaseCountry">Страна выпуска</label>
          <input
                  type="text"
                  class="form-control"
                  id="releaseCountry"
                  name="releaseCountry"
                  th:field="*{releaseCountry}"
                  placeholder="Страна выпуска">
          <p th:if="${#fields.hasErrors('releaseCountry')}" class="text-danger" th:errors="*{releaseCountry}"></p>
        </div>
        <div class="form-group col-md-6 mb-1">
          <label for="imageUrl">Обложка фильма</label>
          <input
                  type="text"
                  class="form-control"
                  id="imageUrl"
                  name="imageUrl"
                  th:field="*{imageUrl}"
                  placeholder="Вставьте ссылку на обложку">
          <p th:if="${#fields.hasErrors('imageUrl')}" class="text-danger" th:errors="*{imageUrl}"></p>
        </div>
        <div class="form-group col-md-6 mb-3">
          <label for="releaseYear">Год выпуска</label>
          <input type="number"
                 class="form-control"
                 id="releaseYear"
                 name="releaseYear"
                 th:field="*{releaseYear}"
                 placeholder="Укажите год выпуска">
          <p th:if="${#fields.hasErrors('releaseYear')}" class="text-danger" th:errors="*{releaseYear}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>