<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавление фильма</title>
  <script src="https://kit.fontawesome.com/31a5b95c71.js" crossorigin="anonymous"></script>
  <style>
    .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }
  </style>
</head>
<body>
  <section layout:fragment="body">
    <!-- Page content-->
    <div class="container mt-5 d-flex justify-content-center" th:object="${movie}">
      <div>
        <div>
          <!-- Movie content-->
          <article>
            <!-- Movie header-->
            <header class="mb-4">
              <!-- Movie title-->
              <h1 class="fw-bolder mb-1"
                  th:text="${movie.getTitle()}"></h1>
              <!-- Post meta content-->
              <div class="text-muted fst-italic mb-2"
                   th:text="${movie.getReleaseCountry() + ', ' + movie.getReleaseYear()}"
              ></div>
              <!-- Post categories-->
              <a th:each="genre: ${movieGenres}"
                 class="badge bg-secondary text-decoration-none link-light mr-1"
                 th:href="@{/movies/genre--{genreName}(genreName=${genre.name})}"
                 th:text="${genre.getName()}"
              ></a>
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4">
              <img class="img-fluid rounded"
                   th:src="${movie.getImageUrl()}"
                   alt="..."
                   style="height: 600px; width: 400px;"/>
              <div class="d-flex justify-content-start">
                <div class="text-black">Рейтинг</div>
                <div class="text-black ml-1" th:text="${movie.getRating()}"></div>
              </div>
            </figure>
            <!-- Post content-->
            <section class="mb-5">
              <p class="fs-5 mb-4"
                 th:text="${movie.getDescription()}"
              ></p>
            </section>
          </article>
          <div class="mb-2 text-white">
            <div th:if="${!nullWishlist}">
              <a th:if="${!existsInWishlist}"
                 th:href="@{/wishlists/{username}/add/{movieId}(username=${user.username}, movieId=${movie.id})}"
                 class="btn-lg btn-dark">Добавить в список желаемого</a>
              <a th:if="${existsInWishlist}"
                 th:href="@{/wishlists/{username}/remove/{movieId}(username=${user.username}, movieId=${movie.id})}"
                 class="btn-lg btn-dark">Удалить из списка желаемого</a>
              <a class="btn-lg btn-dark"
                th:href="@{/movies/{movieId}/rating-helper(movieId=${movie.id})}"
              >Поставить оценку</a>
            </div>
          </div>
          <!-- Comments section-->
          <section class="mb-5">
            <div class="card bg-light">
              <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"
                      method="post"
                      th:action="@{/comments/{movieId}/create(movieId=${movie.getId()})}"
                      th:object="${commentForm}"
                >
                  <textarea class="form-control" rows="3"
                            aria-label=""
                            placeholder="Оставьте свой комментарий!"
                            id="text"
                            th:field="*{text}"
                  ></textarea>
                  <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                </form>
                  <div class="col-md-11 col-lg-9 col-xl-7">
                    <div th:each="comment : ${movieComments}" class="d-flex flex-start mb-4">
                      <img class="rounded-circle shadow-1-strong me-3"
                           th:src="${comment.userAvatarUrl}" alt="avatar" width="65"
                           height="65"
                      >
                      <a class="link-muted" th:href="@{/profile/{username}(username=${comment.username})}">
                        Профиль
                      </a>
                      <div class="card w-100">
                        <div class="card-body p-4">
                          <div class="">
                            <h5 th:text="${comment.getUsername()}"></h5>
                            <p th:text="${comment.createdOn.toString()}" class="small"></p>
                            <p th:text="${comment.getText()}">
                            </p>
                          </div>
                          <a th:if="${user.username == comment.username}"
                                  th:href="@{/comments/{movieId}/delete/{commentId}(movieId=${movie.id}, commentId=${comment.id})}"
                          >Удалить</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</body>
</html>